<html lang="en">
<%- include('partial/navbar') %>
<head>
    <title>BOARD</title>
    <link rel="stylesheet" href="/stylesheets/board.css">
</head>
<body>
<h1><%= typeof currentUser !== 'undefined' ? `Welcome, ${currentUser.username}` : 'Board' %></h1>

<% posts.forEach(function(post) { %>
    <div class="post">
        <div class="post-title"><a href="post/<%=post.id%>"><%= post.title %></a></div>
        <div class="post-footer">
            <%= typeof currentUser !== 'undefined' && currentUser.status !== 'outsider' ?
                    `Posted by ${post.username} at ${post.date}` : '' %>        </div>
        <% if(typeof currentUser !== 'undefined' && currentUser.status === "admin" ) { %>
            <form action='/site/delete/post/<%= post.id %>' method="POST">
                <input type="submit" value="Delete">
            </form>
    </div>
<% } })%>
</body>
</html>