<html lang="en">
<head>
    <title>
        <%= post.title %>
    </title>
</head>
<body>
<h1>
    <%= post.title %>
</h1>
<p>
    <%= post.message %>
</p>
<p>
    <%= typeof currentUser !== 'undefined' && currentUser.status !== 'outsider' ?
            `Posted by ${post.username} at ${post.date}` : '' %>
</p>
<% if(typeof currentUser !== 'undefined' && currentUser.status === "admin" ) { %>
    <form action='/site/delete/post/<%= post.id %>' method="POST">
        <input type="submit" value="Delete">
    </form>
<% } %>
<a href="/board">Back</a>
<form action="<%= post.id %>/comment" method="POST">
    <% if(typeof currentUser !== 'undefined' && (currentUser.status === "admin" || currentUser.status === "member")) { %>
        <div>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    <% } else { %>
        <p>Only members and admins can comment</p>
    <% } %>
</form>
<% if (comments.length > 0) { %>
    <h2>Comments</h2>
<ul>
    <% comments.forEach(function(comment) { %>
        <li>
            <%= comment.text %>
        </li>
        <p><%= typeof currentUser !== 'undefined' && currentUser.status !== 'outsider' ? comment.username : ''%></p>
        <% if(typeof currentUser !== 'undefined' && currentUser.status === "admin" ) { %>
            <form action='/site/delete/comment/<%= comment.id %>/<%= post.id %>' method="POST">
                <input type="submit" value="Delete">
            </form>
    <% }})}  %>
</ul>
</body>
</html>